<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DevExtreme ASP UI Template Gallery</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

     <link href="~/css/fluent-light.css" rel="dx-theme" data-theme="fluent.blue.light"
          data-active="true" />
    <link href="~/css/fluent-dark.css" rel="dx-theme" data-theme="fluent.blue.dark"
          data-active="false" />
    <link href="~/css/layout/layout.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/router.js"></script>

    <script src="~/js/dx.all.js"></script>

    <script src="~/js/dx.aspnet.mvc.js"></script>
    <script src="~/js/dx.aspnet.data.js"></script>
</head>

<body class="dx-viewport">
    <div id="app-side-nav-outer-toolbar">
        <div class="layout-header">
            @(Html.DevExtreme().Toolbar()
                .Items(items => {
                    items.Add()
                        .Html("<div>DevExtreme ASP UI Template Gallery</div>")
                        .Location(ToolbarItemLocation.Before)
                        .CssClass("header-title");
                })
            )
        </div>
        <div class="layout-body">
            <div class="content" data-placeholder-id="auth-layout-body">
                @RenderBody()
            </div>
            <div data-placeholder-id="auth-layout-section">
                @RenderSection("MySection", false)
            </div>
            <div class="content-block">
                <div class="content-footer">
                    <div id="footer">
                        Copyright (c) 2000-2025 Developer Express Inc.
                        <br />
                        All trademarks or registered trademarks are property of their respective owners.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function documentReady() {
            this.removeEventListener("DOMContentLoaded", documentReady);
            const app = window.uitgAppContext;
            app.SPARouter.init();
        });
    </script>
</body>

</html>
