<link href="~/css/views/CardAuth.css" rel="stylesheet" />
<link href="~/css/components/ResetPasswordForm.css" rel="stylesheet" />
<script src="~/js/layouts/authlayout.js"></script>

@using DevExtremeVSTemplateMVC.Models
@model UserData

@{
    bool topLayout = this.Context.Request.Path.Value.Contains("Home");
}

<script>
    window.uitgAppContext.AuthLayoutController.keepTopLayout = '@Html.Raw(topLayout)' === "True";
</script>

<div class="auth-card">
    <div class="dx-card content">
        <div class="header">
            <div class="title" id="sign-up-title">
                Reset Password
            </div>
            <div class="description">
                "Please enter the email address that you used to register, and we will send you a link to reset your
                password via Email."
            </div>
        </div>
        <div class="content">
            <form class="reset-password-form">
                @(
                                Html.DevExtreme().Form<UserData>()
                                .ID("form-instance-register")
                                .FormData(Model)
                                .Items(items =>
                                {
                                    items.AddSimpleFor(m => m.Email)
                                    .Editor(e => e
                                    .TextBox()
                                    .StylingMode(EditorStylingMode.Filled)
                                    .Placeholder("Email")
                                    .Mode(TextBoxMode.Email)
                                    .Value("jheart@dx-email.com")
                                    )
                                    .Label(l => l.Visible(false));

                                    items.AddButton()
                                    .ButtonOptions(b => b
                                    .Width("100%")
                                    .Type(ButtonType.Default)
                                    .OnClick(" window.uitgAppContext.AuthLayoutController.onCreateSubmit")
                                    .Template(new TemplateName("auth-button"))
                                    );
                                })
                                )
                <div class="login-link">
                    Return to
                    <a href="@(Url.Action("Login", topLayout ? "Home" : "Auth"))" class="spa-link">Sign In</a>
                </div>
            </form>
        </div>
    </div>
</div>

@await Html.PartialAsync("/Views/Auth/_AuthButtonTemplate.cshtml", ("resetPasswordLoadingIndicator", "Reset Password"))
