<h2 class="content-block">Login Form</h2>

<p class="content-block dx-card responsive-paddings">
    Login Form goes here...
    <a onclick="SPARouter.navigate('@(Url.Action("SignUp", "Auth"))');">Sign Up</a>
</p>

@section MySection {
    <p class="content-block dx-card responsive-paddings">Login section content</p>
}