<link href="~/css/components/TaskListKanban.css" rel="stylesheet" />
<link href="~/css/components/TaskKanbanCard.css" rel="stylesheet" />
<link href="~/css/components/CardMenu.css" rel="stylesheet" />

<script src="~/js/views/KanbanScript.js"></script>

<div id='kanban' class='kanban'>
    @(Html.DevExtreme().ScrollView()
        .Direction(ScrollDirection.Both)
        .ShowScrollbar(ShowScrollbarMode.Always)
        .ID("kanban-scroll-view-id")
        .Content(
            @Html.DevExtreme().Sortable()
            .ID("kanban-sortable-id")
            .ItemOrientation(Orientation.Horizontal)
            .Handle(".list-title")
            .MoveItemOnDrop(true)
            .OnReorder("onStatusReorder")
            .Content(@<text>
                @(Html.DevExtreme().LoadPanel()
                .ID("kanban-load-panel")
                .Visible(true))
            </text>).ToString()
        )
    )
</div>