@using DevExtremeVSTemplateMVC.Models;
@using DevExtremeVSTemplateMVC.Utils;

<div class="view-wrapper view-wrapper-task-list list-page">
    @await Html.PartialAsync("../PlanningTasks/_PlanningTasksToolbar")
    @(Html.DevExtreme().Gantt<EmployeeTask>()
        .ID("tasks-gantt")
        .TaskListWidth(500)
        .ScaleType(GanttScaleType.Weeks)
        .Height("100%")
        .Tasks(tasks => tasks
            .DataSource(ds =>
                ds.Mvc().Controller("Tasks").Key("Id")
                .LoadAction("GetTasks").UpdateAction("UpdateFilteredTask")
            )
            .DataSourceOptions(dso => dso.Filter(string.Format("['Owner', '=', '{0}']", DemoConsts.DemoFilteredOwnerName)))
            .KeyExpr("Id")
            .ParentIdExpr("ParentId")
            .StartExpr("StartDate")
            .EndExpr("DueDate")
            .TitleExpr("Text")
        )
        .Columns(columns =>
        {
            columns.AddFor(m => m.Text).Caption("Subject").Width(300);
            columns.AddFor(m => m.StartDate).Caption("Start Date").DataType(GridColumnDataType.Date).SortOrder(SortOrder.Asc);
            columns.AddFor(m => m.DueDate).Caption("Due Date").DataType(GridColumnDataType.Date);
        })
        .Toolbar(toolbar => {
            toolbar.Items(items => {
                items.Add().Name(GanttToolbarItem.Undo);
                items.Add().Name(GanttToolbarItem.Redo);
                items.Add().Name(GanttToolbarItem.Separator);
                items.Add().Name(GanttToolbarItem.CollapseAll);
                items.Add().Name(GanttToolbarItem.ExpandAll);
                items.Add().Name(GanttToolbarItem.Separator);
                items.Add().Name(GanttToolbarItem.AddTask);
                items.Add().Name(GanttToolbarItem.DeleteTask);
                items.Add().Name(GanttToolbarItem.Separator);
                items.Add().Name(GanttToolbarItem.ZoomIn);
                items.Add().Name(GanttToolbarItem.ZoomOut);
            });
        })
        .Validation(validation => validation.AutoUpdateParentTasks(true))
        .Editing(editing => editing.Enabled(true))
    )
</div>