@using DevExtremeVSTemplateMVC.Models;
@using DevExtremeVSTemplateMVC.Utils;

<div class="view-wrapper view-wrapper-task-list list-page">
    @await Html.PartialAsync("../PlanningTasks/_PlanningTasksToolbar")
    @await Html.PartialAsync("../PlanningTasks/_PopupFormAddTask")
    <div class="gantt">
        @(Html.DevExtreme().Gantt<EmployeeTask>()
            .ID("tasks-gantt")
            .TaskListWidth(500)
            .ScaleType(GanttScaleType.Weeks)
            .Height("100%")
            .Tasks(tasks => tasks
                .DataSource(ds =>
                    ds.Mvc().Controller("Tasks").Key("TaskId")
                    .LoadAction("GetTasks")
                    .UpdateAction("UpdateFilteredTask")
                    .InsertAction("InsertTask")
                    .DeleteAction("DeleteFilteredTask")
                    .OnBeforeSend("uitgAppContext.PlanningTasksController.beforeSendGantt")
                )
                .DataSourceOptions(dso => dso.Filter(string.Format("['Owner', '=', '{0}']", DemoConsts.DemoFilteredOwnerName)))
                .KeyExpr("TaskId")
                .ParentIdExpr("ParentId")
                .StartExpr("StartDate")
                .EndExpr("DueDate")
                .ProgressExpr("Progress")
                .TitleExpr("Text")
            )
            .Columns(columns =>
            {
                columns.AddFor(m => m.Text).Caption("Subject").Width(300);
                columns.AddFor(m => m.StartDate).Caption("Start Date").DataType(GridColumnDataType.Date).SortOrder(SortOrder.Asc);
                columns.AddFor(m => m.DueDate).Caption("Due Date").DataType(GridColumnDataType.Date);
            })
            .Toolbar(toolbar => {
                toolbar.Items(items => {
                    items.Add().Name(GanttToolbarItem.Undo).Widget(w => w.Button().Icon("revert"));
                    items.Add().Name(GanttToolbarItem.Redo).Widget(w => w.Button().Icon("redo"));
                    items.Add().Name(GanttToolbarItem.Separator);
                    items.Add().Name(GanttToolbarItem.CollapseAll).Widget(w => w.Button().Icon("arrowdown"));
                    items.Add().Name(GanttToolbarItem.ExpandAll).Widget(w => w.Button().Icon("arrowup"));
                    items.Add().Name(GanttToolbarItem.Separator);
                    items.Add().Name(GanttToolbarItem.AddTask).Widget(w => w.Button().Icon("add"));
                    items.Add().Name(GanttToolbarItem.DeleteTask).Widget(w => w.Button().Icon("trash"));
                    items.Add().Name(GanttToolbarItem.Separator);
                    items.Add().Name(GanttToolbarItem.ZoomIn).Widget(w => w.Button().Icon("zoominoutline"));
                    items.Add().Name(GanttToolbarItem.ZoomOut).Widget(w => w.Button().Icon("zoomoutoutline"));
                });
            })
            .Validation(validation => validation.AutoUpdateParentTasks(true))
            .Editing(editing => editing.Enabled(true))
        )
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function documentReady() {
        // Ensure Gantt is adjusted to its container after the DOM is ready
        $("#tasks-gantt").dxGantt("repaint");
    });
</script> 
