<link href="~/css/components/TaskListKanban.css" rel="stylesheet" />

<div class="view-wrapper view-wrapper-task-list list-page">
    @await Html.PartialAsync("../PlanningTasks/_PlanningTasksToolbar")
    <h2>Kanban</h2>
</div>