<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">

<title>@(ViewBag.Title ?? "DevExtreme ASP UI Template Gallery")</title>
<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link href="~/css/fluent-light.css" rel="dx-theme" data-theme="fluent.blue.light" data-active="true" />
<link href="~/css/fluent-dark.css" rel="dx-theme" data-theme="fluent.blue.dark" data-active="false" />

<link href="~/css/styles.css" rel="stylesheet" />