@use "../common/variables.scss" as *;
@use "sass:math";

.reset-password-form {
    .submit-button {
        margin-top: 18px;
    }

    .login-link {
        color: var(--accent-color);
        font-size: 12px;
        text-align: center;
        margin-top: 6px;
    }
}

.oauth-button-container {
    text-align: center;

    > p {
        margin: 16px 0;
    }

    .dx-button {
        margin-top: 8px;
    }
}