@use "../common/variables.scss" as *;
@use "sass:math";

.view-wrapper-task-list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    .dx-toolbar.toolbar-common {
        padding: var(--content-padding);

        .toolbar-header {
            @include header();
        }
    }

    .kanban, .gantt {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        max-height: calc(100% - var(--toolbar-height) - var(--content-padding) * 2);
    }

    .planning-grid {
        & > .dx-datagrid {
            min-height: 100%;
        }
    }

    .planning-tasks-content {
        max-height: calc(100% - var(--toolbar-height) - var(--content-padding) * 2);
    }

    .gantt {
        padding: 0 var(--content-padding) var(--content-padding);
    }

    .kanban {
        padding: 0 0 var(--content-padding) calc(var(--content-padding) / 2);
    }
}

.contact-status .status-editor-field .status-indicator {
    align-self: flex-end;

    &.status {
        display: inline;
    }
}

.status-editor-field {
    display: flex;

    .status-indicator {
        display: flex;
        align-self: center;
        padding-left: var(--list-padding-left);
    }

    .status {
        display: flex;
    }

    .status-input.status-input {
        padding-left: 0;
    }
}

.status span {
    font-size: 13px;
}