@using DevExtremeVSTemplateMVC.Models
@model List<TaskModel>
@{
    string[] STATUSES = new[]
    {
        "Open",
        "In Progress",
        "Deferred",
        "Completed"
    };
}


@for (int i = 0; i < STATUSES.Length; i++)
{
    await Html.RenderPartialAsync("../PlanningTasks/Kanban/_TaskList", new  TaskListPartialViewModel {
        Status = STATUSES[i],
        TaskList=Model,
        StatusIndex = i,
    });
    @* <div>@Model.Count</div> *@
}