@page
@using DevExtreme.Asp.Template.Gallery.Models
@model SignUpModel
@{
    Layout = "_LayoutExtra";
}

<div class="auth-card">
    <div class="dx-card content">
        <div class="header">
            <div class="title" id="sign-up-title">
                Sign Up
            </div>
            <div class="description">
            </div>
        </div>
        <div class="content">
            <form class="create-account-form">
                @(
                        Html.DevExtreme().Form<UserData>()
                        .ID("form-instance-register")
                        .FormData(Model.ClientAuth)
                        .Items(items =>
                        {
                            items.AddSimpleFor(m => m.Email)
                        .Editor(e => e
                        .TextBox()
                        .StylingMode(EditorStylingMode.Filled)
                        .Placeholder("Email")
                        .Mode(TextBoxMode.Email)
                        .Value("jheart@dx-email.com")
                        )
                        .Label(l => l.Visible(false));

                            items.AddSimpleFor(m => m.Password)
                        .Editor(e => e
                        .TextBox()
                        .StylingMode(EditorStylingMode.Filled)
                        .Placeholder("Password")
                        .Mode(TextBoxMode.Password)
                        ).Label(l => l.Visible(false));

                            items.AddSimpleFor(m => m.ConfirmPassword)
                        .Editor(e => e
                        .TextBox()
                        .StylingMode(EditorStylingMode.Filled)
                        .Placeholder("Confirm Password")
                        .Mode(TextBoxMode.Password))
                        .Label(l => l.Visible(false));

                            items.AddSimple()
                        .Template(@<text>
                    <div class="policy-info">
                        By creating an account, you agree to the
                        <a href="/Auth/Login">Terms of Service</a> and
                        <a href="/Auth/Login">Privacy Policy</a>
                    </div>
                </text>);

                            items.AddButton()
                            .ButtonOptions(b => b
                            .Width("100%")
                            .Type(ButtonType.Default)
                            .OnClick("onCreateSubmit")
                            .Template(new TemplateName("create-account-button"))
                            );
                        })
                    )

                <div class="login-link">
                    Have an account? <a href="/Auth/Login">Sign In</a>
                </div>
            </form>

            @using (Html.DevExtreme().NamedTemplate("create-account-button"))
            {
                <div>
                    <span class="dx-button-text">
                        @(Html.DevExtreme().LoadIndicator()
                            .Width("24px")
                            .Height("24px")
                            .Visible(false)
                            .ID("accountLoadingIndicator")
                            )
                        <span id="sign-in-text">Create a new account</span>
                    </span>
                </div>
            }

            <div class="oauth-button-container">
                <p>or</p>
                @(Html.DevExtreme().Button()
                    .Width("100%")
                    .Icon("/css/icons/google-logo.svg")
                    .Text("Login with Google")
                    .StylingMode(ButtonStylingMode.Contained)
                    )
                @(Html.DevExtreme().Button()
                    .Width("100%")
                    .Icon("/css/icons/microsoft-logo.svg")
                    .Text("Login with Microsoft")
                    .StylingMode(ButtonStylingMode.Contained)
                    )
            </div>
        </div>

    </div>
</div>

<script>

    function onCreateSubmit(e) {
        location.href = "/Auth/Login";
    }

    function confirmPassword(e) {
        console.log(e);
        return true;
    }
</script>