:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

.oauth-button-container {
    text-align: center
}

.oauth-button-container > p {
    margin: 16px 0
}

.oauth-button-container .dx-button {
    margin-top: 8px
}

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

.login-form .form-text {
    color: var(--base-text-color-alpha)
}

.reset-link {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    margin: 6px 0 50px 0
}

.reset-link a {
    cursor: pointer
}


:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

.oauth-button-container {
    text-align: center
}

.oauth-button-container > p {
    margin: 16px 0
}

.oauth-button-container .dx-button {
    margin-top: 8px
}

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

.create-account-form .policy-info {
    color: var(--base-text-color-alpha);
    font-size: 12px;
    font-style: normal
}

.create-account-form .policy-info a {
    color: var(--base-text-color-alpha)
}

.create-account-form .login-link {
    color: var(--accent-color);
    font-size: 12px;
    text-align: center;
    padding: 6px 0 32px 0;
    border-bottom: 1px solid #616161;
}

:root {
    --toolbar-vertical-padding: 16px
}

:root .dx-theme-generic {
    --change-password-popup-height: 190px
}

:root .dx-theme-material {
    --change-password-popup-height: 260px
}

.reset-password-form .submit-button {
    margin-top: 18px
}

.reset-password-form .login-link {
    color: var(--accent-color);
    font-size: 12px;
    text-align: center;
    margin-top: 6px
}
